/* Foundation */
.row {max-width: 100%; clear: both;}
table tr th, table tr td {padding: 0}


/* Custom */
body {font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif; margin:0 }
nav {overflow: auto; width: 100%; background: #efefef; font-size: 11px;}
nav ul {margin: 0; padding: 10px; display: block;float: left}
nav li {float: left; display: block; }
nav a {color: #777; text-decoration: none; border-radius: 4px; }
nav a {background-color: #fff; padding: 7px 10px 7px 25px; border:  1px #fff solid; display: block; margin: 5px 5px 0 0}
nav a#display-kin {background: #fff url(../assets/images/kin-icon.png) no-repeat 5px 2px;}
nav a#display-glyphs {background: #fff url(../assets/images/glyph-icon.png) no-repeat 5px 2px;}
nav a#reset {background-image: none; padding-left: 10px; display: none;}
h1 {font-size: 13px; font-weight: normal; display: none;}
.intro {text-align: right;}
.intro h1 {font-size: 26px; font-weight: bold;}
.intro h2 {font-size: 22px;}
table#main {border-collapse: collapse; margin: 0 auto;}
table tr td {padding-top: 20px}
table tr td.main {padding: 10px; vertical-align: top; max-width: 420px}
table td td {padding: 0; margin:  -2px -3px; background: #fff;}
table table {position: relative; margin: 0 5px 0 0; background: #fff; padding: 4px 2px 0; border-spacing: 0}
table table:last-child() {margin-right: 0}
table table:hover {position: relative;z-index: 30}
header {position: relative;}
td img {width: 19px;}
.lunar, .electric, .self-existing, . lunar {clear: left;}
.vegismal {width: 19px; height: 19px; position: absolute; left: 2px; top: -13px; font-size: 14px;  z-index: 50; color: #777}
.vegismal span {display: block; vertical-align: bottom; width: 100%; clear: both; height: 4px; text-align: center; line-height: 5px; }
.vegismal span.dot {font-size: 7px; letter-spacing: 1px; height: 3px; text-align: center;}
#gregorian {font-size: 11px; padding: 10px 36px; color: #ccc; position: absolute; top: 10px; right: -10px }
.solar .vegismal span.dot {letter-spacing: -.5px}
.small-2:last-child {display: none;}
td td img {-webkit-transition: all .3s ease-in-out; opacity: .3;}
.active img {border-color: #f3656b; -webkit-transform: scale(1.8); opacity: 1;}
td td img:hover  {-webkit-transform: scale(1.7); z-index: 100; opacity: 1;}
td table:hover .active img {-webkit-transform: scale(1); z-index: 0; background: transparent;}
td table:hover .active img:hover {border-color: #f3656b; -webkit-transform: scale(1.7)}

#day-info, #kin-info {text-transform: capitalize;}
table tr td.main  {padding: 10px 50px; position: relative;}
.main p {line-height: .5em}
.main ul {padding-left: 0px; list-style-type: none; margin-top: 33px; width: 90%}
.main h2 {font-size: 19px; font-weight:  normal;}
.main img {border: none}
#kin-name img {width: 11%; margin: 5px 3px -13px -3px;}
#kin-name {margin-top: -16px}
#day-info img {width: 8%; margin: 5px 3px -7px 2px;  }
#kin-info {font-size: 13px;margin-left: 2px}
#kin-info #tone img {margin: 10px 9px -5px 4px}
#kin-info #glyph img {width: 7%; margin: 5px 8px -6px 2px}
#kin-info #plasma img {margin: 5px 9px -5px 4px}